:root {
  --color-primary: #7CFF4D;
  --color-secondary: #000000;
  --color-accent: #ffecec8e;
  --color-deep: #00221B;
}




* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


/* HEADER */

header{
    background-color: var(--color-primary);
    display: grid;
    grid-template-columns: 24px auto;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    align-items: center;

}

header img{ 
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span{
    align-content: center;
    font-size: 1.2rem;
    color: var(--color-background);
}

/*DESCRIPTION PAGE*/

.description-cont{
    margin: 10px 5px;
    display: grid;
    grid-template-rows: repeat(6, auto);
    gap: 10px;
}

.description-cont section{
    border: 1px solid var(--color-deep);
    padding: 2px 10px;
    background-color: var(--color-accent);
}


.description-cont section h2{
    text-align: center;
}

/*IMG CONT*/
.imag-cont{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imag-cont figcaption{
    text-align: center;
}