@media only screen and (min-width: 38rem){

header , main , footer, nav {
    max-width: 1000px;
    margin: 0 auto;
}

header{
    grid-template-columns: 24px auto auto;
}


    /*HAMBURGUER RESPONSIVE*/

.hamburguer{
    display: none;
}

.navigation{
    display: block;
}

.navigation ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    color: white;
   
}

.navigation a{
    text-decoration: none;
    padding: 0px 6px;
    background-color: #F8FAFC;
    color: black;
    border: 2px solid #0A74DA;
    border-radius: 7px;
}



/*CARDS*/

.cards{
    display: flex;
    flex-wrap: wrap;
}

.cards>div{
    flex: 0 0 calc(30% - 10px);
}


.list-view{
    display: grid;
    
}

.list-view div{
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}





}