@media only screen and (min-width: 38rem){

header , main , footer, nav {
    max-width: 1000px;
    margin: 0 auto;
}

header{
    grid-template-columns: 24px auto auto;
}


    /*HAMBURGUER RESPONSIVE*/

.hamburguer{
    display: none;
}

.navigation{
    display: block;
    border-bottom: solid 1px #ddd;
}

.navigation ul {
    display: flex;
}

.navigation a{
    border: none;
}



/*CARDS*/

.cards{
    display: flex;
    flex-wrap: wrap;
}

.cards>div{
    flex: 0 0 calc(30% - 10px);
}


.list-view{
    display: grid;
    
}

.list-view div{
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


/*HOME PAGE*/

/*MAIN SECTION*/

.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-container>section{
    flex: 0 0 calc(30% - 10px);
}

#randomMembers{
    justify-content: center;
}








}