/*

Primary Color: #0A74DA
Secondary Color: #1E2A78
Background Color: #F8FAFC
Text Color: #1A1A1A
Font Family: "Playfair Display", "Helvetica Neue", sans-serif

*/

:root {

    /*  Color  */
  --color-primary: #0A74DA;
  --color-secondary: #1E2A78;
  --color-background: #F8FAFC;
  --color-text: #1A1A1A;

}


* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


/* HEADER */

header{
    background-color: var(--color-secondary);
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    align-items: end;

}

header img{ 
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span{
    font-size: 1.2rem;
    color: var(--color-background);
}

/* HAMBURGUER */

.hamburguer{
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-background);
}

.hamburguer::before{
    content: "\2630";
    font-size: 2rem;
}

.hamburguer.show::before{
    content: "\00D7";
}


/* NAV */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}



.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a{
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    border-bottom: solid 1px var(--grey-elegant);
    color:black
}



.navigation a:hover{
    background-color: aquamarine;
}


/*HERO IMAGE*/

.heropart{
    position: relative;
    margin: 0;
    padding: 0;   
}

.heropart img{
    width: 100%;
    height: auto;
    position: relative;
}



/* CENTRAL PART*/

.changing-view {
    display: flex;
    background-color: var(--color-primary);
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 5px;
}

.changing-view button{
    padding: 2px 10px;
    margin: 10px;
    border-radius: 5px;
    border: 3px solid var(--color-secondary);
    cursor: pointer;
}


.changing-view button:hover{
    background-color: rgba(241, 241, 216, 0.726);
}

/* JSON*/

.cards{
    text-align: center;
}

.cards img{
    width: 100%;
    height: auto;
}

.cards div{
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 1px 4px 3px black;
}


/* LIST CLASS*/

.list-view{
    display: grid;

}

.list-view img{
    display: none;
}

.list-view div{
    font-size: 0.7rem;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr auto auto auto;
    border: 1px solid black;
    box-shadow: none;
    margin: 0 5px;
}

.list-view #description{
    display: none;
}


.list-view div:nth-child(odd){
    background-color: #e9e4e4de;
}



/*HOME PAGE*/


/*MAIN SECTION*/

.home-container{
    display: block;
    margin: 0;
    padding: 0;
}



.home-container section{
    margin: 10px;
    text-align: center;
    border: 1px solid black;

}

.home-container section h2{
    margin: 0;
    padding: 2px;
    background-color: var(--color-background);
    border: 1px solid black;
}

.weather{
    display: grid;
    grid-template-rows: 1fr auto;
}

.currentWeather{
    display: flex;
}

.currentWeather img{
    justify-items: center;
    width: 50%;
    height: auto;
}




/* INFORMATION */

.information{
    text-align: start;
    margin: 2px;
}

#captionDesc{
    text-transform: capitalize;
}




/*WAY FINDING */

.navigation li.current{
    background-color: rgb(212, 199, 199)
}




























/*FOOTER*/

footer {
    display: block;
    margin-top: 10px;
    padding: 1rem 0 0 0;
    text-align: center;
    background-color: var(--color-secondary);
    color: var(--color-background);
}


.social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--color-background) solid 1px;
    width: 44px;
    height: 44px;
    border-radius: 5px;
}

.social img{
    width: 22px;
    height: 22px;
}

.social a:hover{
    background-color: var(--color-primary);
    cursor: pointer;
}


.foot-text{
    display: block;
    padding: 10px;
    margin: 10px 0 0 0;
    
}


/*CARDS*/

.randomCards{
    display: block;
    justify-content: center;
}



/*KEYNOTE BUTTON*/

.cta-button {
  display: inline-block;
  padding: 12px 25px;
  background-color: var(--color-background); 
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #ddd; 
}

.cta-overlay {
    position: absolute;
    top: 50%;      /* centra verticalmente */
    left: 80%;     /* centra horizontalmente */
    transform: translate(-50%, -50%);
    text-align: center;
}

/* FORM JOIN US*/
form{
    display: grid;
    grid-template-rows: auto repeat(8,1fr);
    border: 2px solid var(--color-primary);
    border-radius: 9px;
    box-shadow: 1px 4px 6px var(--color-primary);
    margin: 10px 15px;
    padding: 4px 6px;
    background-color: #ced3d860;
}

form div{
    display: grid;
    grid-template-rows: auto auto;
    gap: 0;
    padding: 10px 0;
}

form h2{
    text-align: center;
    padding: 0;
    margin: 10px;
}

input , textarea, select{
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 4px;
}

/*MEMBER STATUS*/

.all-member{
    display: grid;
    grid-template-rows: auto repeat(4,1fr);
    text-align: center;
    justify-content: center;
    gap: 10px;
    
}

@keyframes colorChange {
  from { background: linear-gradient(90deg, #717e68, #fda289); }
  to   { background: linear-gradient(90deg, #a18cd1, #fbc2eb); }
}

.all-member div{
    justify-content: center;
    border: 1px solid var(--color-primary);
    border-radius: 6px;
    padding: 10px;
    background-color: #f5f9fd8a;
    animation: colorChange 1s infinite alternate;
}

.all-member div button{
    border-radius: 6px;
    background-color: #ddd;

}

.all-member div button:hover{
    background-color: skyblue;
    cursor: pointer;
}

.cancel{
    border-radius: 6px;
    border: 1px solid var(--color-primary);
    justify-self: right;
}


.modals-cards div{
    display: grid;
}


/*THANK YOU CONTAINER*/

.thankyou-container{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}