/*

Primary Color: #0A74DA
Secondary Color: #1E2A78
Background Color: #F8FAFC
Text Color: #1A1A1A
Font Family: "Playfair Display", "Helvetica Neue", sans-serif

*/

:root {

    /*  Color  */
  --color-primary: #0A74DA;
  --color-secondary: #1E2A78;
  --color-background: #F8FAFC;
  --color-text: #1A1A1A;

}


* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


/* HEADER */

header{
    background-color: var(--color-secondary);
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    align-items: end;

}

header img{ 
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span{
    font-size: 1.2rem;
    color: var(--color-background);
}

/* HAMBURGUER */

.hamburguer{
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-background);
}

.hamburguer::before{
    content: "\2630";
    font-size: 2rem;
}

.hamburguer.show::before{
    content: "\00D7";
}


/* NAV */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}



.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a{
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    border-bottom: solid 1px var(--grey-elegant);
    color:black
}



.navigation a:hover{
    background-color: aquamarine;
}


/*HERO IMAGE*/

.heropart{
    margin: 0;
    padding: 0;
}

.heropart img{
    width: 100%;
    height: auto;
    position: relative;
}



/* CENTRAL PART*/

.changing-view {
    display: flex;
    background-color: var(--color-primary);
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 5px;
}

.changing-view button{
    padding: 2px 10px;
    margin: 10px;
    border-radius: 5px;
    border: 3px solid var(--color-secondary);
    cursor: pointer;
}


.changing-view button:hover{
    background-color: rgba(241, 241, 216, 0.726);
}

/* JSON*/

.cards{
    text-align: center;
}

.cards img{
    width: 100%;
    height: auto;
}

.cards div{
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 1px 4px 3px black;
}


/* LIST CLASS*/

.list-view{
    display: grid;

}

.list-view img{
    display: none;
}

.list-view div{
    font-size: 0.7rem;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr auto auto auto;
    border: 1px solid black;
    box-shadow: none;
    margin: 0 5px;
}

.list-view #description{
    display: none;
}


.list-view div:nth-child(odd){
    background-color: #e9e4e4de;
}











































/*FOOTER*/

footer {
    display: block;
    margin-top: 10px;
    padding: 1rem 0 0 0;
    text-align: center;
    background-color: var(--color-secondary);
    color: var(--color-background);
}


.social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--color-background) solid 1px;
    width: 44px;
    height: 44px;
    border-radius: 5px;
}

.social img{
    width: 22px;
    height: 22px;
}

.social a:hover{
    background-color: var(--color-primary);
    cursor: pointer;
}


.foot-text{
    display: block;
    padding: 10px;
    margin: 10px 0 0 0;
    
}
