* {
    font-family: "Josefin Sans";
    box-sizing: border-box;
}


/* HEADER */

header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    align-items: end;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2 rem;
    color: black;
}

/* HAMBURGUER */

.hamburguer {
    background: none;
    border: none;
    cursor: pointer;
}

.hamburguer::before{
    content: "\2630";
    font-size: 2rem;
}

.hamburguer.show::before{
    content: "\00D7";
}


/* NAVIGATION BAR */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}



.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a{
    display: block;
    padding: .8rem 10px;
    /*COLOR!!*/
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}



.navigation a:hover{
    background-color: aquamarine;
}

.navigation li.current{
    background-color: rgb(187, 209, 241)
}



/*TITLES*/

h1 {
    margin-left: 10px;
}