* {
    font-family: "Josefin Sans";
    box-sizing: border-box;
}


/* HEADER */

header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    align-items: end;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2 rem;
    color: black;
}

/* HAMBURGUER */

.hamburguer {
    background: none;
    border: none;
    cursor: pointer;
}

.hamburguer::before{
    content: "\2630";
    font-size: 2rem;
}

.hamburguer.show::before{
    content: "\00D7";
}