@media only screen and (min-width: 38rem) {

header , main , footer, nav {
    max-width: 900px;
    margin: 0 auto;
}

header {
    grid-template-columns: 24px auto;
}


.hamburguer {
        display: none;
}


.navigation{
    display: block;
    border-bottom: solid 1px #ddd;
}

.navigation ul {
    display: flex;
}

.navigation a{
    border: none;
}

.main-container{
    display: grid;
    grid-template-columns: 75% 25%;
}

.courses-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.courses-bar>section{
    flex: 0 0 calc(30% - 10px);
}

.courses-nav{
    flex-wrap: wrap;
    text-align: center;
}

.courses-nav>li{
    flex: 0 0 calc(27% - 10px);
}

}