/*######################## COLOR SCHEMA ##################*/





/*###########################################################*/



* {
    box-sizing: border-box;
}


:root{
    --font-title: "Caveat Brush", cursive;
    --font-body: "Montserrat", sans-serif;
    --grey-light: #EAEAEA;
    --grey-medium: #D6D6D6;
    --grey-elegant: #BFBFBF;
}

body {
    background-color: var(--grey-light);
    color: #000000
}


header, footer {
    background-color: var(--grey-elegant);
}


h1,h2,h3  {
    font-family: var(--font-title);
}

p,a,span {
    font-family: var(--font-body);
}




/* HEADER */

header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    align-items: end;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: black;
}

/* HAMBURGUER */

.hamburguer {
    background: none;
    border: none;
    cursor: pointer;
}

.hamburguer::before{
    content: "\2630";
    font-size: 2rem;
}

.hamburguer.show::before{
    content: "\00D7";
}


/* NAVIGATION BAR */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}



.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a{
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    border-bottom: solid 1px var(--grey-elegant);
    color:black
}



.navigation a:hover{
    background-color: aquamarine;
}

.navigation li.current{
    background-color: var(--grey-elegant)
}



/*TITLES*/

h1 {
    margin-left: 10px;
}





/*BODDY*/

h2 {
    background-color: rgb(182, 182, 108);
    border: solid 1px black;
    padding: 0;
    margin: 0;
    text-align: center;
}

body section{
    display: block;
    border: solid 1px black;
    margin: 10px;
}

section p{
    padding: 0 9px;
}



/*1 section*/











/*2 section*/


.own-image img{
    display: flex;
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    justify-self: center;

}













/*3 section*/


.courses-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 10px 0 0 0;
    justify-content: center;
    gap: 5px;
    
}

.courses-nav li {
    background-color: yellow;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.courses-nav a {
    display: block;
    text-align: center;
    padding: 2px 10px;
    margin: 1px 10px;

}


.courses-nav li:hover{
    background-color: #0fb2b8;
}






/* COURSES LIST */

.list-courses{
    border: none;
}

.courses-bar {
    border: none;
    
}

.courses-bar section{
    border-radius: 10px;
    text-align: center;
}

/*COUNTER STYLES */

.counter {
    border: none;
    font-style:oblique;
    text-align: center;
}


/*FOOTER*/

footer {
    padding: 1rem 0 0 0;
    text-align: center;
    
}


.social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #000000 solid 1px;
    width: 44px;
    height: 44px;
    border-radius: 5px;
}

.social img{
    width: 22px;
    height: 22px;
}

.social a:hover{
    background-color: #ddd;
    cursor: pointer;
}


.foot-text{
    display: block;
    padding: 10px;
    margin: 10px 0 0 0;
    
}

