@media only screen and (min-width: 1025px){

header , main , footer, nav {
    max-width: 1000px;
    margin: 0 auto;
}

header{
    grid-template-columns: 24px auto auto;
}


    /*HAMBURGUER RESPONSIVE*/

.hamburguer{
    display: none;
}

.navigation{
    display: block;
    border-bottom: solid 1px #ddd;
}

.navigation ul {
    display: flex;
    border: 1px solid black;
}

.navigation a{
    border: 1px solid #ddd;
}

.missing-muscles ul{
  align-content: center;
}

  .form-presentation {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 2rem;
  }

  .presentation-content {
    max-width: 450px;
    text-align: left;
  }

  .presentation-content img {
    max-width: 400px;
  }






}