/*

Primary Color: #0A74DA
Secondary Color: #1E2A78
Background Color: #F8FAFC
Text Color: #1A1A1A
Font Family: "Playfair Display", "Helvetica Neue", sans-serif

*/

:root {
  --color-primary: #7CFF4D;
  --color-secondary: #000000;
  --color-accent: #ffecec8e;
  --color-deep: #00221B;
}


* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


/* HEADER */

header{
    background-color: var(--color-primary);
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    align-items: end;

}

header img{ 
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span{
    font-size: 1.2rem;
    color: var(--color-background);
}

/* HAMBURGUER */

.hamburguer{
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-background);
}

.hamburguer::before{
    content: "\2630";
    font-size: 2rem;
}

.hamburguer.show::before{
    content: "\00D7";
}


/* NAV */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}



.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a{
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    border-bottom: solid 1px var(--grey-elegant);
    color:black
}



.navigation a:hover{
    background-color: aquamarine;
}


/*FOOTER*/

footer {
    display: block;
    margin-top: 10px;
    padding: 1rem 0 0 0;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}


.social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--color-secondary) solid 2px;
    width: 44px;
    height: 44px;
    border-radius: 5px;
}

.social img{
    width: 22px;
    height: 22px;
}

.social a:hover{
    background-color: var(--color-accent);
    cursor: pointer;
}


.foot-text{
    display: block;
    padding: 10px;
    margin: 10px 0 0 0;
    
}